<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/fonts/fonts.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="/assets/css/custom.css">
</head>

<body>
 <div id="wrapper">
  <div class="container">
   <div class="row justify-content-center">
    <div class="col-6">
     <div class="card">
      <div class="card-header text-center">
       ورود
      </div>
      <div class="card-body">
        <% if (message) { %>
  <div class='alert alert-danger'><%= message %></div>
<% } %>
       <form action="/auth/login" method="POST">
        <div class="form-group">
         <label for="email">ایمیل</label>
         <input type="email" class="form-control" name="email" id="email" placeholder="" autocomplete="off">

        </div>
        <div class="form-group">
         <label for="password">کلمه عبور</label>
         <input type="password" class="form-control" name="password" id="password" autocomplete="off" placeholder="">
        </div>
        <button type="submit" class="btn btn-success btn-block">ورود</button>
       </form>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
 <script src="/assets/js/bootstrap.min.js"></script>
</body>

</html>