<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/fonts/fonts.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="/assets/css/custom.css">
</head>

<body>
    <div id="wrapper">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="card">
                        <div class="card-header">
                            مدیریت وظایف  || <%= user.first_name %> 
                        </div>
                        <div class="card-body">
                            <div class="actions">
                                <a href="add" class="btn btn-outline-success btn-icon">
                                    <i class="material-icons">
                                        note_add
                                    </i>
                                    <span>اضافه کردن</span>
                                </a>
                                <a href="/" class="btn btn-outline-primary  btn-icon">
                                    <i class="material-icons">
                                        list
                                    </i>
                                    <span>لیست وظایف</span>
                                </a>
                                <a href="/auth/logout" class="btn btn-outline-danger btn-icon">
                                    <i class="material-icons">
                                        logout
                                    </i>
                                    <span>خروج</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="card">
                        <div class="card-header">
                            لیست وظایف
                        </div>
                        <div class="card-body">
                            <table class="table table-bordered table-hover table-striped">
                                <thead>
                                    <tr>
                                        <th>عنوان</th>
                                        <th>دسته بندی</th>
                                        <th>انجام دهنده</th>
                                        <th>وضعیت</th>
                                        <th>عملیات</th>
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                        <th>عنوان</th>
                                        <th>دسته بندی</th>
                                        <th>انجام دهنده</th>
                                        <th>وضعیت</th>
                                        <th>عملیات</th>
                                    </tr>
                                </tfoot>
                                <tbody>
                                    <% getTasks.forEach(function(current){ %>
    <%- include('./taskList.ejs', {current: current}); %>
  <% }); %>
                                    
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/assets/js/bootstrap.min.js"></script>
</body>

</html>


 