<tr>
                                        <td><%= current.task_title %></td>
                                        <td><%= current.task_category %></td>
                                        <td><%= current.task_assignee %></td>
                                        <td>
                                            <% if (current.task_status == 0) { %><span class="badge badge-warning">ایجاد شده</span><% } %>
                                            <% if (current.task_status == 1) { %><span class="badge badge-primary">در حال انجام</span><% } %>
                                            <% if (current.task_status == 2) { %><span class="badge badge-success">انجام شده</span><% } %>
                                            <% if (current.task_status == 3) { %><span class="badge badge-danger">لغو شده</span><% } %>
                                        </td>
                                        <td>
                                            <a href="/edit/<%= current.task_id %>">
                                                <i class="material-icons">
                                                    edit
                                                </i>
                                            </a>
                                            <a href="/delete/<%= current.task_id %> ">
                                                <i class="material-icons">
                                                    delete
                                                </i>
                                            </a>
                                        </td>
                                    </tr>